/* In styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
/* Add your CSS styles here */
/* styles.css */
/* Example of moving inline styles to external CSS */
/* Custom styles */
/* Reset default margin and padding */
/* Custom styles */
.hero {
    position: relative;
    height: 60vh; /* Adjust height as needed */
    background-image: url('images/froast1.jpeg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
    text-align: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Text color */
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem; /* Adjust font size */
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem; /* Adjust font size */
    margin-bottom: 2rem;
}

.hero-content .btn {
    background-color: transparent; /* Transparent background */
    color: #ffffff;
    border: 1px solid transparent; /* Transparent border */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-content .btn:hover {
    background-color: rgb(255, 255, 255); /* Transparent orange background on hover */
    border-color: transparent; /* Transparent border on hover */
    color: #fff; /* White text on hover */
}

/* Media Queries */
@media (max-width: 768px) {
    .hero-content {
        width: 80%; /* Adjust width for smaller screens */
    }
    
    .hero-content h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
    
    .hero-content p {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
}
